.header-bar {
    height: 140px;
    background-color: #FF2929;
    width: 100%;
}

.under-bar {
    height: 10px;
    background-color: #FFDC00;
    margin-top: -9px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-image {
    height: 80px;
    padding: 10px;
    display: block;
    margin: auto;
}

.header-title {
    margin-top: 0;
    text-align: center;
    color: white;
}