.over-bar {
    height: 10px;
    background-color: #FF2929;
    margin-top: 30px;
}

.entry-box {
    background-color: #FFDC00;
    display: flex;
}

.elements {
    margin: auto;
    width: 80%;
}

.create-header {
    margin-top: 20px;
    margin: 0;
}

.entry-element {
    margin-top: 15px;
}

label {
    margin-right: 20px;
    float: left;
}

input[type=text] {    
    background-color: #FFDC00;
    float: left;
    border: none;
    border-bottom: 4px solid #FF2929; 
    width: 20%;
}

.create-button {
    margin-left: -15px;
}