.over-bar {
    height: 10px;
    background-color: #FF2929;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entry-box {
    background-color: #FFDC00;
}

.elements {
    margin: auto;
    width: 80%;
    display: table;
}

.create-header {
    margin-top: 20px;
    display: block;
    text-align: center;
}

.entry-element {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    margin-bottom: 40px;
    background-color: white;
    display: block;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.entry-element:hover {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.7);
}

.entry-label {
    margin-right: 10px;
    float: left;
}

.entry-name, .entry-price, .entry-color {
    font-size: 14px;
    display: inline;
    background-color: white;
    float: right;
    border: none;
    border-bottom: 4px solid #FF2929; 
    width: 69%;
    margin-left: 20px;
}

.create-button {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 12pt;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 75px;
    margin-top: 50px;
}