.edit-name, .edit-price {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.5em;
    background-color: #FF2929;
    border: none;
    border-bottom: 4px solid #FFDC00; 
    margin-bottom: 35px;
}

.edit-name {
    float: left;
    width: 40%;
}

.edit-price {
    float: right;
    width: 20%;
    text-align: right;
}

.edit-color {
    background-color: #FF2929;
    border: none;
    border-bottom: 4px solid #FFDC00; 
    width: 100%;
    margin-bottom: -5px;
}

.item {
    background-color: #FF2929;
    border-radius: 30px;
    padding: 0px;
    margin: 50px 0px;
    display: flex;
    border: 5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item:hover {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.7);
}

.content {
    width: 75vw;
    margin: 15px auto;
    padding: 15px;
    display: inline-block;
}

.primary-info {
    margin-top: -10px;
    width: auto;
}

.item-rank {
    background-color: #FFDC00;
    padding: 5px;
    border-radius:100px;
    width: 50px;
    height: 50px;
    float: left;
}

.item-rank h1 {
    text-align: center;
    margin-top: 6px;
}

.item-name {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.item-price {
    font-size: 30pt;
    margin-top: 4px;
    float: right;
}

.clear-primary {
    clear: both;
}

.secondary-info {
    margin-top: -10px;
    text-align: left;
    width: 100%;
    float: left;
    margin-bottom: -30px;
}

.secondary-table {
    text-align: left;
    float: left;
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-array {
    float: right;
    margin-right: -12px;
}

.update-button {
    border: none;
    height: 40px;
    width: 120px;
    margin-top: 10px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-button, .edit-button {
    border: none;
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.update-button:hover, .list-button:hover, .edit-button:hover {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.7);
}

.in-button {
    margin-top: 2px;
}